
.Checkout::before {
    display: none;
}

.Checkout-progress-bar-wrapper {
    background: #eeeeee;
    width: auto;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.Checkout-first-milestone-arrow-SHIPPING_STEP {
    height: 35px;
    width: 35px;
    background-color: #f26224;
    border-radius: 50%;
    text-align: center;
    line-height: 270%;
    font-size: 15px;
    color: white;
    margin: 10px;

}


.Checkout-second-milestone-arrow-SHIPPING_STEP {
    height: 35px;
    width: 35px;
    background-color: #bbbaba;
    border-radius: 50%;
    text-align: center;
    line-height: 270%;
    font-size: 15px;
    color: black;
    margin: 10px;
    opacity: 0.5;
    
}
.Checkout-progress-bar-line1-SHIPPING_STEP {
    background-color: #f26224;
    height: 4px;
    width: 1050px;
    border-radius: 4px;
}

.Checkout-progress-bar-line2-SHIPPING_STEP {
    background-color: #bbbaba;
    height: 4px;
    width: 285px;
    border-radius: 4px;
    opacity: 0.5;

}
.Checkout-progress-bar-line3-SHIPPING_STEP {
    background-color: #bbbaba;
    height: 4px;
    width: 1200px;
    border-radius: 4px;
    opacity: 0.5;

}
.Checkout-progress-bar-milestone-text-m2-SHIPPING_STEP{
    position: absolute;
    top: 53px;
    right: -35px;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
    opacity: 0.5;
}
.Checkout-progress-bar-milestone-text-m1-SHIPPING_STEP{
    position: absolute;
    top: 53px;
    left: -5px;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
}



//Billing step below
.Checkout-first-milestone-arrow-BILLING_STEP {
    height: 35px;
    width: 35px;
    background-color: #f26224;
    border-radius: 50%;
    text-align: center;
    line-height: 270%;
    font-size: 15px;
    color: black;
    margin: 10px;
    color: white;

}

.Checkout-second-milestone-arrow-BILLING_STEP {
    height: 35px;
    width: 35px;
    background-color: #f26224;;
    border-radius: 50%;
    text-align: center;
    line-height: 270%;
    font-size: 15px;
    color: black;
    margin: 10px;
    color: white;
}
.Checkout-progress-bar-line1-BILLING_STEP {
    background-color: #f26224;
    height: 4px;
    width: 1050px;
    border-radius: 4px;
}
.Checkout-progress-bar-line2-BILLING_STEP {
    background-color: #f26224;
    height: 4px;
    width: 1050px;
    border-radius: 4px;
}
.Checkout-progress-bar-line3-BILLING_STEP {
    background-color: #bbbaba;
    height: 4px;
    width: 1200px;
    border-radius: 4px;
    opacity: 0.5;

}
.Checkout-progress-bar-milestone-text-m2-BILLING_STEP{
    position: absolute;
    top: 53px;
    right: -35px;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;

}
.Checkout-progress-bar-milestone-text-m1-BILLING_STEP{
    position: absolute;
    top: 53px;
    left: -5px;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
}


//DETAILS STEP BELOW
.Checkout-first-milestone-arrow-DETAILS_STEP {
    height: 35px;
    width: 35px;
    background-color: #f26224;
    border-radius: 50%;
    text-align: center;
    line-height: 270%;
    font-size: 15px;
    color: black;
    margin: 10px;
    color: white;

}

.Checkout-second-milestone-arrow-DETAILS_STEP {
    height: 35px;
    width: 35px;
    background-color: #f26224;;
    border-radius: 50%;
    text-align: center;
    line-height: 270%;
    font-size: 15px;
    color: black;
    margin: 10px;
    color: white;
}
.Checkout-progress-bar-line1-DETAILS_STEP {
    background-color: #f26224;
    height: 4px;
    width: 1050px;
    border-radius: 4px;
}
.Checkout-progress-bar-line2-DETAILS_STEP {
    background-color: #f26224;
    height: 4px;
    width: 1050px;
    border-radius: 4px;
}
.Checkout-progress-bar-line3-DETAILS_STEP {
    background-color: #f26224;
    height: 4px;
    width: 1200px;
    border-radius: 4px;

}
.Checkout-progress-bar-milestone-text-m2-DETAILS_STEP{
    position: absolute;
    top: 53px;
    right: -35px;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
}
.Checkout-progress-bar-milestone-text-m1-DETAILS_STEP{
    position: absolute;
    top: 53px;
    left: -5px;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
}
